/* Custom styles for BMI.js */
.bmi-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa; /* Light background color */
}

.bmi-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #007bff;
  margin-bottom: 20px;
}

/* Improved form styles */
.form-bmi-group {
  margin-bottom: 15px;
}

.form-bmi-group label {
  margin-bottom: 5px;
  font-weight: bold;
  margin: 5px auto;
  width: 62%;
  text-align: center;
}

.form-bmi-control {
  margin: auto;
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Add margin to height and weight input fields */
#height-group {
  margin-bottom: 20px;
}

#weight-group {
  margin-bottom: 20px;
}

/* Button parent class styling */
.button{
  width: 100%;
  margin: auto;
  text-align: center;
}

/* Primary button styles */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  /* width: 100%; */
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Alert message styles */
.alert {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da; /* Red alert background color */
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  color: #721c24;
  font-weight: bold;
}

/* Result styles */
.result-container {
  margin-top: 20px;
}

.result-text {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.result-bmi {
  background-color: #2c307a; /* Blue background color */
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

/* Diet plan card styles */
.card {
  margin-top: 20px;
}

.card-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 17px;
  margin-bottom: 10px;
}

.list-group-item {
  font-size: 17px;
  margin-bottom: 5px;
  padding: 5px;
}

/* Additional styles for links */
.link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
